*.o
*.out
*.files
*.a
Makefile
.deps
tags
destor
.zshrc
aclocal.m4
autom4te.cache/
compile
config.log
config.status
**/*.lo
**/*.la
**/.libs
**/Makefile.in
config.guess
config.sub
doc/fast15.pdf
libdestor.la
libtool
ltmain.sh
test/target
backup.log
