*.o
*.out
*.files
*.a
Makefile
.deps
tags
destor
test/testor
src/featuring/deepsketch/Makefile.in
src/similariting/deepsketch/Makefile.in
src/similariting/deepsketch/NGT/Makefile.in
src/tmp
test/AL
test/dedup.output
test/perfromanceBreakdown
tmp
autom4te.cache/*
autom4te.cache/output.0
config.log
config.status
**/Makefile.in
Makefile.in
.vscode/*
src/similariting/Makefile.in
src/similariting/Makefile.in
configure.ac~
configure~
configure
.gitignore
config.guess
aclocal.m4
**backup**
